* {
    font-family: 'Maven Pro', sans-serif;
}

body{
    background: #878b87;
}

.container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 6px;
    padding-right: 6px; 
}

#header{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 30px
}

.form{
    height: 500px;
    width: 50%;
    background: #dde5dd;
    margin: 0 auto;
}

.input-data{
    margin: 0 auto;
    height: 500px;
    width: 250px;
    text-align: center;
    color: grey;
    font-weight: bold;
    padding: 10px;
}


.input-data input, select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid#878b87;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px
}

#submitBtn{
    width: 100%;
    background: #878b87;
    border: 2px solid #ccc;
    color: white;
    outline-color: #ccc;
    padding: 14px 40px;
    border-radius: 10px;
    font-size: 18px
}

#submitBtn:hover{
    background: #ccc;
    color:black;
    outline-color:#ccc;
}

#submitBtn {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#discovery{
    color:grey;
    text-align:center;
    padding-top:40px;
    font-size: 30px
}

.bold{
    font-weight: bold;
}

@media (max-width: 768px) {
    .form {
      width: 100%; 
    } 
}
  



 